POSTGRES_USER=transport_user
POSTGRES_PASSWORD=change_me

POSTGRES_HOST_PORT=5433

DRIVER_DB=driver_db
ORDER_DB=order_db

JWT_SECRET=replace_with_base64_256_bit_secret

APP_USERNAME=admin
APP_PASSWORD=replace_with_bcrypt_hash